@import "./styles.css";

body {
    background-color: var(--secondary-color);
    overflow-y: hidden;
    height: 100vh;
}

header {
    background-color: var(--primary-color);
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--dark-color);
    a, h1 {
        padding-right: 2%;
        padding-left: 1%;
    }
    svg > path {
        stroke: var(--dark-color);
    }
}

main {
    display: grid;
    grid-template-columns: 30% auto;
    height: calc(100vh - 70px);
}
.sidebar {
    background-color: var(--accent2-color);
    height: calc(100vh - 70px);
    padding-top: 2%;
    nav {
        display: flex;
        width: 90%;
        margin: auto;
        #selected {
            background-color: var(--white);
        }
        .leaderboard {
            width: 50%;
            text-align: center;
            padding: 2%;
            font-size: 1.5rem;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            cursor: pointer;
        }
    }
    .leaderboardRanking {
        background-color: var(--white);
        width: 90%;
        height: 88%;
        margin: auto;
        padding-top: 2%;
        overflow-y: auto;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        .rank{
            background-color: var(--accent-color);
            width: 90%;
            padding: 1.5%;
            margin: auto auto 2%;
            border-radius: 10px;
        }
    }
}

.groupViewer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: minmax(250px, 1fr);
    gap: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    overflow-y: auto;
    height: calc(96vh - 70px);
    padding-top: 2%;
    padding-bottom: 2%;
}

.group {
    aspect-ratio: 1 / 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--accent3-color);
    border-radius: 10px;
    cursor: pointer;
    margin: 2%;
    font-size: 1.5rem;
    transition: background-color 0.5s;
    p {
        color: var(--white);
        transition: color 0.5s;
    }
}

.group:hover {
    background-color: var(--accent-color);
    p {
        color: var(--dark-color);
    }
}

.groupManager {
    background-color: var(--accent3-color);
    width: 80%;
    height: 80%;
    position: absolute;
    top: 10%;
    left: 10%;
    color: black;
    border-radius: 10px;
    .players {
        width: 90%;
        height: 80%;
        margin: auto;
        padding-top: 0.5%;
    }
}

ul {
    list-style-type: none;
}

.player {
    background-color: var(--primary-color);
    padding: 1%;
    margin: 2%;
    border-radius: 10px;
}

.playerName {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    font-size: 1.7rem;
    margin-bottom: 0.5%;
    svg > path {
        stroke: var(--dark-color);
    }
    svg {
        transition: transform 0.3s;
    }
}
#addPlayer > p{
    font-weight: bold;
    font-size: 1.7rem;
}
.tasks {
    background-color: var(--secondary-color);
    border-radius: 10px;
    max-height: 100%;
    /*transition: max-height 0.5s;*/
    li {
        text-align: center;
        padding: 0.5%;
        font-size: 1.3rem;
        border-bottom: 1px solid var(--dark-color);
        margin-left: 0.5%;
        margin-right: 0.5%;
    }
    li:last-child {
        border-bottom: none;
        cursor: pointer;
        font-weight: bold;
        a {
            text-decoration: none;
        }
    }
}

.groupManagerModal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    transition: opacity 0.2s;
    opacity: 1;
}

.groupTitle {
    display: flex;
    justify-content: space-between;
    padding: 1%;
    h3, p {
        color: black;
        font-size: 1.7rem;
    }
    p {
        cursor: pointer;
    }
}


.rotated {
    transform: rotate(180deg);
    transform-origin: center;
    transition: transform 0.3s;
}

.addPlayerForm {
    display: flex;
    justify-content: center;
    flex-direction: column;
    div {
        margin: auto;
        margin-top: 1%;
        height: 40px;
        font-size: 1.5rem;
        label {
            margin: auto;
        }
        input {
            height: 35px;
            font-size: 1.2rem;
        }
    }
    button {
        margin: auto;
        margin-top:1%;
        width: 70%;
        height: 40px;
        font-size: 1.2rem;
        background-color: var(--accent2-color);
        border: 2px solid var(--accent2-color);
        border-radius: 10px;
        cursor: pointer;
        color: var(--dark-color);
    }
    button:hover {
        background-color: var(--primary-color);
        border: 2px solid var(--accent3-color);
    }
}

.adminMain > div {
    display: flex;
    justify-content: space-between;
    padding: 2%;
    padding-bottom: 0;
    align-items: center;
    p {
        font-weight: bold;
        font-size: 1.7rem;
        text-align: center;
        cursor: pointer;
    }
}

.newGroupModal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    transition: opacity 0.2s;
    opacity: 1;
    display: flex;
    align-items: center;
    form {
        border-radius: 10px;
        width: 30%;
        height: 40%;
        background-color: var(--primary-color);
        margin: auto;
        display: flex;
        flex-direction: column;
        p {
            font-weight: bold;
            padding: 1%;
            margin-left: auto;
            cursor: pointer;
        }
        div {
            display: flex;
            flex-direction: column;
            width: 90%;
            margin: auto;
            input {
                margin-top: 2%;
                height: 35px;
            }
            button {
                height: 35px;
                margin-top: 2%;
                border: none;
                cursor: pointer;
                background-color: var(--accent3-color);
                color: var(--secondary-color);
                font-weight: bold;
                font-size: 1.3rem;
                border-radius: 10px;
            }
            button:hover {
                background-color: var(--dark-color);
            }
        }
    }
}

.hide {
    max-height: 0;
    overflow-y: hidden;
    pointer-events: none;
    opacity: 0;
}