@import url("./styles.css");

body {
    background-color: var(--white);
}
header {
    background-color: var(--primary-color);
}
.leaderboard .selected {
    background-color: red;
}
.leaderboard {
    display: inline;
}