@import "./styles.css";
main {
    background-color: var(--secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}
form {
    background-color: var(--accent-color);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 5%;
    width: 30%;
}
label {
    font-size: larger;
    margin-top: 10%;
    margin-bottom: 1%;
}
button {
    border-radius: 10px;
    margin-top: 10%;
    width: 80%;
    height: 50px;
    background-color: var(--accent2-color);
    border: 3px solid var(--accent2-color);
}
input {
    border: none;
    border-radius: 10px;
    width: 80%;
    height: 50px;
    text-align: center;
}
button:hover {
    border: 3px solid var(--dark-color);
    background-color: var(--accent-color);
}